.cursor {
  display: flex;
  margin: initial;
  padding: 5px 0;

  @media ($mobile) {
    flex-wrap: wrap;
    position: absolute;
    width: calc(100% - 40px);
    top: 66px;
    z-index: -1;
  }
}

.cursor li {
  list-style: none;

  @media ($desktop) {
    background-color: $cursor;
    border-radius: $radiusRound;
    width: 10px;
    height: 10px;
    flex: 0 0 10px;
    margin-right: 20px;
    margin-left: 16px;
  }

  @media ($mobile) {
    flex: 1 0 calc(25% - 4px);
    min-height: 64px;
    border-radius: $radiusCurved;
  }
}

.cursor ._active {
  background-color: $secondaryActive;

  @media($desktop) {
    box-shadow: 0 0 15px $secondaryActive;
    transition: box-shadow .2s cubic-bezier(0, 0, 0.64, 1.52);
  }
}
