.playback-controls {
  background-color: $playbackControlsBackground;
  border-radius: $radiusCurved;
  padding: 6px 10px;
  width: 180px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.playback-button {
  cursor: pointer;
  width: 18px;
  height: 24px;
  margin: 0 18px 0 2px;
  padding: initial;

  border-top: 12px solid transparent;
  border-left: 18px solid $primaryActive;
  border-bottom: 12px solid transparent;
  border-right: 6px solid transparent;
  background-color: transparent;
}

.playback-button._playing {
  background-color: $primaryActive;
}

.bpm-input {
  font-family: monospace;
  font-size: 32px;
  text-align: right;
  color: transparent;
  text-shadow: 0 0 0 $white;
  letter-spacing: 3px;

  background-color: transparent;
  margin: 0 -10px 0 0;

  width: 86px;
  padding: initial;
  border: none;

  &:focus {
    outline: none;
  }
}
