.cursor {
  display: flex;
  background-color: $track;
  margin: 0;
  padding: 5px 80px;
}

.cursor li {
  background-color: $cursor;
  list-style: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 18px;
  margin-left: 18px;
}

.cursor ._active {
  background-color: $cursorActive;
}
