.tracks {
  margin-left: -$trackTitleWidth;
}

.track {
  display: flex;
  align-items: center;
}

.track-title {
  color: $white;
  text-align: right;
  width: $trackTitleWidth;
  padding-right: 10px;
}

.track-sequence {
  padding: 5px 0;
}

.step {
  cursor: pointer;
  padding: 20px;
  margin: 2px;
  background-color: $step;

  border: 1px solid transparent;
  border-bottom: 2px solid $stepShadow;
  border-radius: $radiusCurved;
  box-shadow: 0 2px 3px $stepShadow;

  &:hover {
    transform: translateY(-1px) scaleY(1.025);
  }

  &:nth-of-type(8n),
  &:nth-of-type(8n - 1),
  &:nth-of-type(8n - 2),
  &:nth-of-type(8n - 3) {
    background-color: $stepAlt;
  }

  &:first-of-type {
    margin-left: initial;
  }
}

.step:active,
.step._active {
  background-color: $primaryActive;
  transform: translateY(2px);
  border-bottom: 1px solid $stepShadow;
}
